body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 25%;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;

}

.yellow{
    background-color: yellow;
} 
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.user{
    background-color: black;
}